*, body {
    padding: 0;
    margin: 0;
}



#main-body{
    margin-top: 2%;
}

.container{
    width: 80%;
    margin: 150px auto;
}



.form-content {
    background: #f2f2f2;
    padding: 15px 20px;
}

select {
    width: 100%;
    padding: 10px;
    margin: 5px auto;
    border: none;
}

input[type="text"] {
    padding: 10px;
    width: 90%;
    margin: 5px auto;
    border: 1px solid #333;
   
}



.button-div {
    width: 50%;
    margin: 0 auto;
}

button {
    background: tomato;
    color: #ffffff;
    padding: 10px 15px;
    border: none;
    width: 100%;
    margin: 0 auto;
}



@media only screen and (min-width: 500px) {
    body {
        width: 60%;
        margin: 0 auto;
    }
}

@media only screen and (min-width: 900px) {
    body {
        width: 50%;
        margin: 0 auto;
    }
}
